* {
    margin: 0px;
    padding:  0px;
}

body {
    height: 100vh;
    width: 100%;
}

.pandoraBox {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.7fr 1fr 0.7fr 1.2fr 0.8fr;
    grid-template-areas: 'naviGate naviGate naviGate naviGate'
    'whoIAm whoIAm whoIAm whoIAm'
    'workArt workArt workArt workArt'
    'reachMe reachMe reachMe reachMe'
    'needAJob needAJob needAJob needAJob'
    'lastNotLeast lastNotLeast lastNotLeast lastNotLeast';
    grid-gap: 0.25rem;
}

.naviGate {
    padding-right: 0.5rem;
    height: 5rem;
    background-color: blueviolet;
    grid-area: naviGate;
    display: flex;
    align-items: end;
    justify-content: end;
}

.naviGate ul {
    margin: 0 2rem 1rem 0;
    height: 3rem;
    width: 40rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    color: #ff7f50;
    font-size: 17px;
}

.naviGate ul li {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 3rem;
    width: 100px;
}

.naviGate ul li:hover {
    cursor: pointer;
    font-size: 20px;
   /* need to add transition */
   /* make buttons when pushed take user to that section of the page */
}

.whoIAm {
    background-color: darkblue;
    height: 40rem;
    grid-area: whoIAm;
}

.picMe {
    margin: 2.5rem;
    position: absolute;
    top: 10rem;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 150px;
}

.picMe img {
    height: inherit;
    width: 300px;
    border-radius: 100px;
    /* add a box shadow effect */
}

.picMe h1 {
    position: absolute;
    top: 20rem;
}

.thisIAm {
    position: absolute;
    top: 15rem;
    left: 35rem;
    background-color: greenyellow;
    height: 465px;
    width: 600px;
}

.thisIAm p {
    font-size: 17px;
    line-height: 2;
    text-indent: 50px;
    word-spacing: 0.15rem;
}


